
<html>
    <head>
        <title>{{title}}</title>
        <script src="/static/js/min.js"></script>
        <style>
            a-scene{
                height: 100px;
                width: 100px;

            }
                        
        </style>
    </head>
    <body>
        <h1>Welcome to Virtual Trial Room</h1>
        <form > 
        <button type="button">Upload</button>  
        </form >      
        <a-scene class="aframebox" embdded>
            <a-sky  width="10" height="10" src="static/Image/user_img.png">
            </a-sky>
        </a-scene>
    
    
    </body>
    </html>