<html>
    <head>
        <title>{{title}}</title>
        <script src="/static/js/min.js"></script>
        <style>
            a-scene{
                height: 100px;
                width: 100px;

            }
                        
        </style>
    </head>
    <body>
        <h1>Welcome to New Form</h1>
        <div>
        <form > 
            <div>
            <label form="">value 1</label>
            <input type="text" name="num1"></input>
            </div>
            <div>
                <label form="">value 2</label>
                <input type="text" name="num2"></input>
                </div>
        <button type="submit">Save</button>  
        </form >      
    </div>
    
    
    </body>
    </html>